h1, h2, h3 {
    font-family: 'Lato', sans-serif !important;
    font-weight: 300 !important;
}

body {
    font-family: 'Lato', serif !important;
    font-weight: 400 !important;
}

.lead {
    font-weight: 300 !important;
}

html { background: #fefefe }

.levels .box {
    list-style: none;
    display: inline-block;
    margin: 5px;
}
.levels .box a {
    width: 100px;
    height: 100px;
    display: block;
    text-align: center;
    font-size: 3em;
    line-height: 2.5em;
    color: #ff0450;
    background: #eee;
    text-shadow: 0 1px 1px #000, 0 -1px 1px #fff;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
.levels .box a:hover {
    text-decoration: none;
    color: #fff;
    background: #ff0450;
    text-shadow: 0 -1px 1px #000, 0 1px 1px #fff;
    box-shadow: 0 0 5px #666;
}
.done {
    background: #ff4500;
}
#question-data {
    position: fixed;
    background: #222;
    background: rgba(255,255,255,0.75);
    box-shadow: -2px -2px 2px rgba(0,0,0,0.25), -2px 2px 2px rgba(0,0,0,0.25);
    width: 250px;
    top: 30%;
    right: 0;
    padding: 10px;
}

.share{
    display: table;
    margin: 0 auto;
    padding: 2rem 0 0;
}

@media only screen and (min-width: 960px) {
    .container-fluid {
        width: 960px;
        margin: 0 auto;
    }
}